header{
    background-color: #012D63;
}
.conteiner{
    width: 1140px;
    padding:0 15px ;
    margin: 0 auto;
}
.ul-s1{
display: flex;
align-items: center;
}
.li-s1{
font-family: Roboto;
font-weight: Regular;
display: flex;
align-items: center;
justify-content: center;
}
.a-s1{

}
.img-s1{

}